body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: #000000;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1,h2{
	font-family: 'Roboto Slab', serif;
}
header h1{
	color: white;
	font-size: 50px;



}
header img{
	border-radius: 160px;
    width: 300px;
    height: 300px;
    border: 20px solid #483


}
main{
	max-width: 800px;
	margin: 0 auto;
	padding:  20px ;
}
main img{
max-width: 100%;


}
h2{
	font-size: 35px;
	margin:100px 0px 40px ;
}
a{
	color: #e70c19;

}
a:hover{
	color: #483a94;
}
footer{
	background-color: #000000;
	color: white;
	padding: 50px;
}
p.caption{
	color: #999999; 
	font-style: italic;
	margin-top: 0;

}